<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.licrafter.album"
    >

    <application>

        <activity
            android:name="boxing_impl.ui.BoxingActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="boxing_impl.ui.BoxingViewActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>

        <activity
            android:name="boxing_impl.ui.BoxingBottomSheetActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionBar"/>
    </application>

</manifest>
