<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.licrafter.cnode">

    <!-- Normal Permission -->
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!--Dangerous Permission-->
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>

    <application
        android:name=".BaseApplication"
        android:allowBackup="true"
        android:supportsRtl="true"
        android:label="@string/app_name"
        tools:replace="android:label"
        android:icon="@mipmap/ic_launcher"
        android:theme="@style/AppTheme">

        <provider
            android:name="android.support.v4.content.FileProvider"
            android:authorities="${applicationId}.file.provider"
            android:exported="false"
            android:grantUriPermissions="true">

            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/boxing_file_provider"/>

        </provider>

        <activity
            android:name=".ui.activity.WelcomeActivity"
            android:screenOrientation="portrait"
            android:theme="@style/WelcomeTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity
            android:name=".ui.activity.TopicDetailActivity"
            android:label="@string/title_topic_detail"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.LoginActivity"
            android:label="@string/title_login"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.QRActivity"
            android:label=""
            android:screenOrientation="portrait"/>

        <activity android:name=".ui.activity.MainActivity"/>

        <activity
            android:name=".ui.activity.NotificationCenterActivity"
            android:label="@string/title_notification_center"
            android:screenOrientation="portrait"/>

        <activity
            android:name=".ui.activity.TopicCreateActivity"
            android:label="@string/title_topic_create"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateVisible"/>
    </application>

</manifest>